# Merging coordinates of the U.S. states with immigration data from American Community Survey for mapping in QGIS

In [96]:
import pandas as pd
import re

In [121]:
df = pd.read_csv('immigrants_ACS.csv')

In [120]:
df1= pd.read_csv('cooridnates2.csv')
df1.head()

        State   latitude   longitude
0     Alabama  32.601011  -86.680736
1      Alaska  61.302501 -158.775020
2     Arizona  34.168219 -111.930907
3    Arkansas  34.751928  -92.131378
4  California  37.271875 -119.270415

In [123]:
merged_df = df.merge(df1, left_on='State', right_on='State')

merged_df['immigrants'] = merged_df.immigrants.str.replace(",", "").astype(float)
merged_df.head()

,State,immigrants_pct,immigrants,Native Population,Foreign-Born Population w/ Citizenship,Most Common Country of Origin,latitude,longitude
0,California,27.00%,10437630.0,"28,216,576",49.20%,Mexico,37.271875,-119.270415
1,New York,22.60%,4442247.0,"15,255,210",54.50%,Dominican Rep.,40.705626,-73.979680
2,New Jersey,21.80%,1943338.0,"6,972,118",53.90%,India,40.143006,-74.731116
3,Florida,19.90%,3967671.0,"15,966,780",53.80%,Cuba,27.975728,-83.833017
4,Nevada,19.30%,547696.0,"2,291,476",46.70%,Mexico,38.502032,-117.023060

In [124]:
merged_df.to_csv('merged_immigration2.csv', index=False)

In [100]:
merged_df.dtypes

State                                      object
immigrants_pct                             object
immigrants                                 object
Native Population                          object
Foreign-Born Population w/ Citizenship     object
Most Common Country of Origin              object
Latitude                                  float64
Longitude                                 float64
dtype: object