# Merging coordinates of the U.S. states with wiretapping orders

In [1]:
import pandas as pd

In [3]:
df =pd.read_csv('coordinates.csv')
df.head()

        State   Latitude   Longitude
0     Alabama  32.806671  -86.791130
1      Alaska  61.370716 -152.404419
2     Arizona  33.729759 -111.431221
3    Arkansas  34.969704  -92.373123
4  California  36.116203 -119.681564

In [6]:
df1 =pd.read_excel('wiretaps_sw.xlsx')
df1.head()

  properties.DISTRICT  Orders
0          California     349
1            New York     324
2              Nevada     215
3        Pennsylvania     128
4            Colorado     105

In [15]:
df = df.merge(df1, left_on='State', right_on='properties.DISTRICT')
df.to_csv('wiretaps_final.csv', index=False)